/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 2 version
*/

/*
Colors used

Text Color (White): #eee;
Secondary Text Color (Gold Leaf): #D9B310;
Primary Color (Prussian Blue): #0B3C5D;
Secondary Color (Sky Blue): #328CC1;
Background Color (Ivory Black): #1D2731;

*/

:root {
  font-size: 62.5%;
  --primary-color: #0b3c5d;
  --secondary-color: #328cc1;
  --background-color: #1d2731;
  --text-color: #eee;
  --secondary-text-color: #d9b310;
  --header-font-size: 2.4em;
  --medium-font-size: 1.6em;
  --small-font-size: 0.6em;
  --space-unit: 1em;
  --space-sm: calc(0.75 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --rounded-borders: 10px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: var(--background-color);
}

body {
  font-family: "Tajawal", sans-serif;
  font-size: var(--medium-font-size);
  font-weight: 400;
  line-height: 2em;
  color: var(--text-color);
}

header {
  font-size: var(--header-font-size);
}

h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
}

a {
  color: var(--secondary-text-color);
  font-size: var(--medium-font-size);
  -webkit-transition: font-size 0.3s ease;
  transition: font-size 0.3s ease;
}

a:visited {
  color: #7a6509;
}

a:hover,
a:focus {
  font-size: calc(1.15 * var(--medium-font-size));
  text-decoration: none;
  -webkit-transition: font-size 0.3s ease;
  transition: font-size 0.3s ease;
}

a:active {
  font-size: var(--medium-font-size);
  text-decoration: none;
}

.page__title {
  padding-top: var(--space-md);
  padding-bottom: var(--space-md);
  text-align: center;
}

.contact-button,
.linkedIn-button {
  width: 150px;
  height: 50px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: calc(0.5 * var(--medium-font-size));
  font-weight: 800;
  background-color: var(--primary-color);
  color: var(--text-color);
  text-decoration: none;
  border: none;
  border-radius: var(--rounded-borders);
  -webkit-transition: opacity 0.9s;
  transition: opacity 0.9s;
  -webkit-transition: font-size 0.3s ease;
  transition: font-size 0.3s ease;
}

.linkedIn-text,
.linkedIn-text:hover,
.linkedIn-text:focus {
  color: var(--text-color);
  text-decoration: none;
  text-align: center;
  line-height: inherit;
}

.contact-button:hover,
.contact-button:focus,
.linkedIn-button:hover,
.linkedIn-button:focus {
  font-size: calc(0.6 * var(--medium-font-size));
  text-decoration: none;
  cursor: pointer;
  opacity: 0.8;
}

.footer_logo {
  width: 50px;
  height: 50px;
}

.profile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto var(--space-lg) auto;
  max-width: 700px;
  background-color: #0073a5;
  border: double 4px transparent;
  border-radius: 40px;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: var(--space-md);
  padding-top: var(--space-md);
  max-width: 700px;
}

.profile_portrait {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.profile__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-left: var(--space-sm);
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--space-md);
}

.page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: var(--space-md);
  background-color: var(--primary-color);
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: calc(.15 * var(--header-font-size));
  list-style-type: none;
  margin-top: var(--space-md)
}

.navigation-list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: var(--space-md);
  padding-right: var(--space-md);
}

.navigation-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.project-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr var(--space-md) 1fr var(--space-md) 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: var(--space-md);
}

.project-list__container {
  display: -ms-grid;
  display: grid;
  margin-left: var(--space-lg);
  margin-right: var(--space-lg);
}

.project-list__item {
  background-color: #0073a5;
  border-radius: var(--rounded-borders);
  padding: var(--space-sm);
}

.project-inactive {
  background-color: #328dc17c;
  text-align: center;
  padding-top: 45px;
}

.project-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1d2731;
  border: calc(0.25 * var(--space-sm)) solid #1d2731;
  border-radius: var(--rounded-borders);
  margin: calc(0.25 * var(--space-sm));
  white-space: nowrap;
  overflow: hidden;
}

.logo {
  max-width: 50%;
  max-height: 200px;
  padding: 0;
}

.skills-table {
  margin-left: auto;
  margin-right: auto;
}

.skills-table__container {
  margin-right: var(--space-sm);
  margin-left: var(--space-sm);
}

table {
  border-spacing: 0;
  border-collapse: separate;
  border-radius: var(--rounded-borders);
  overflow: hidden;
}

th,
td {
  padding: var(--space-sm);
}

thead {
  background-color: #0073a5;
  font-weight: 800;
  -webkit-box-shadow: 0 0 0 2px black;
          box-shadow: 0 0 0 2px black;
}

tbody tr:nth-child(odd) {
  background-color: #328dc183;
}

tbody tr:nth-child(even) {
  background-color: #0073a5;
}

.skills-table__item {
  text-align: center;
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 700px;
  margin: 0 auto;
  margin-top: var(--space-md);
  margin-bottom: var(--space-md);
  text-align: center;
}

.about-container__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #328dc13b;
  border-radius: var(--rounded-borders);
  padding: var(--space-md);
  margin: var(--space-sm)
}

.about-container__item:nth-child(even) {
  background-color: #328dc17c;
}

.about-container__item:nth-child(odd) {
  background-color: #0073a5;
}

.about-container__item:last-child {
  background-color: #328dc17c;
}

.svg-container {
  text-align: center;
  margin-top: var(--space-lg);
  margin-bottom: var(--space-lg);
}

#arizona-svg {
  width: 70%;
  height: auto;
  max-height: 50vh;
  max-width: 50vw;
}

.standard-label {
  font-size: calc(0.5 * var(--medium-font-size));
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: var(--space-sm);
  margin-right: var(--space-sm);
}

.contact-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.contact-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 75vw;
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: var(--space-md);
  font-weight: 800;
  color: #d9b310;
  background-color: #328dc11b;
  border-radius: var(--rounded-borders);
}

.contact-inputs:focus::-webkit-input-placeholder {
  color: transparent;
}

.contact-inputs:focus::-moz-placeholder {
  color: transparent;
}

.contact-inputs:focus:-ms-input-placeholder {
  color: transparent;
}

.contact-inputs:focus::-ms-input-placeholder {
  color: transparent;
}

.contact-inputs:focus::placeholder {
  color: transparent;
}

#message {
  padding: 15px 25px 15px 20px;
  width: 400px;
  height: 200px;
  resize: none;
}

.contact-right__svg {
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: var(--space-lg);
  margin-bottom: var(--space-lg);
}

@-webkit-keyframes sun-color-change {
  0% {
    fill: #f8d767ff;
  }
  100% {
    fill: #ffc400ff;
  }
}

@keyframes sun-color-change {
  0% {
    fill: #f8d767ff;
  }
  100% {
    fill: #ffc400ff;
  }
}

@-webkit-keyframes ground-shadow-color-change {
  0% {
    fill: #d35441ff;
  }
  100% {
    fill: #62151bff;
  }
}

@keyframes ground-shadow-color-change {
  0% {
    fill: #d35441ff;
  }
  100% {
    fill: #62151bff;
  }
}

@-webkit-keyframes cloud-right-move {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(-175px, 0);
            transform: translate(-175px, 0);
  }
}

@keyframes cloud-right-move {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(-175px, 0);
            transform: translate(-175px, 0);
  }
}

@-webkit-keyframes cloud-left-move {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(110px, 0);
            transform: translate(110px, 0);
  }
}

@keyframes cloud-left-move {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(110px, 0);
            transform: translate(110px, 0);
  }
}

.sun {
  -webkit-animation: 4s sun-color-change infinite alternate linear;
          animation: 4s sun-color-change infinite alternate linear;
}

.ground-shadow {
  -webkit-animation: 4s ground-shadow-color-change infinite alternate linear;
          animation: 4s ground-shadow-color-change infinite alternate linear;
}

.cloud-right {
  -webkit-animation: 30s cloud-right-move infinite alternate linear;
          animation: 30s cloud-right-move infinite alternate linear;
}

.cloud-left {
  -webkit-animation: 37s cloud-left-move infinite alternate linear;
          animation: 37s cloud-left-move infinite alternate linear;
}

@media all and (max-width: 364px) {
  .navigation-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media all and (min-width: 320px) and (max-width: 689px) {
  .project-list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .navigation-list a {
    padding-left: calc(0.5 * var(--space-sm)); /* Shrink left padding */
    padding-right: calc(0.5 * var(--space-sm)); /* Shrink right padding */
  }
}

@media all and (min-width: 690px) and (max-width: 1020px) {
  .project-list {
    -ms-grid-columns: 1fr var(--space-md) 1fr;
    grid-template-columns: 1fr 1fr;
  }
}