/*
Colors used

Text Color (White): #eee;
Secondary Text Color (Gold Leaf): #D9B310;
Primary Color (Prussian Blue): #0B3C5D;
Secondary Color (Sky Blue): #328CC1;
Background Color (Ivory Black): #1D2731;

*/

// CSS Normalize
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Work Sans", sans-serif;
}

body {
  background-color: #1d2731;
  color: white;
  text-align: center;
}

.landing {
    img {
        width: 200px;
    }
}

.socials {
    img {
        max-width: 40px;
    }
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 128px;
  padding-right: 128px;

  @media (max-width: 1024px) {
    padding-left: 64px;
    padding-right: 64px;
  }
  @media (max-width: 767px) {
    padding-left: 32px;
    padding-right: 32px;
  }
  @media (max-width: 480px) {
    padding-left: 24px;
    padding-right: 24px;
  }
  @media (max-width: 320px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

section {
  h2 {
    text-align: center;
    margin-bottom: 64px;
    text-transform: uppercase;

    font-size: 32px;
  }
}

.projects {
  padding-top: 64px;
  padding-bottom: 64px;

  .projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
    margin-bottom: 32px;

    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 767px) {
        grid-template-columns: 1fr;
    }
  }
  .tech-icons {
    img {
        max-width: 40px;
    }
  }
}

.experience {
    display: grid;
    padding-top: 64px;
    padding-bottom: 64px;
  
    .experience-grid {
      display: grid;
      justify-items: center;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 36px;
  
      @media (max-width: 768px) {
          grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: 767px) {
          grid-template-columns: 1fr;
      }

      .experience-item {
        display: flex;
        flex-direction: column;
        position: relative;
        text-align: left;
        gap: 10px;
        
        @media (max-width: 768px) {
            width: 300px;
        }
        @media (max-width: 480px) {
            width: 200px;
        }

        .experience-company {
            display: flex;
            margin-bottom: 20px;

            img {
                width: 35px;
                height: 35px;
                margin-right: 10px;
            }
        }

        .experience-position {
            display: flex;
            flex-direction: column;
            position: relative;
            margin-bottom: 60px;
            padding-left: 40px;

            .experience-title {
                font-weight: 500;
            }
            .experience-date {
                font-style: italic;
                opacity: .7;
            }

            // Add bullet points before each experience position
            &::before {
                content: "";
                position: absolute;
                margin-left: 10px;
                left: 0; // Bullet point position
                top: 15px;
                height: 10px;
                width: 10px;
                border-radius: 50%;
                background-color: #0B3C5D;
            }

            // Add vertical line connecting bullet points
            &::after {
                content: "";
                position: absolute;
                margin-left: 10px;
                left: 4px;
                top: 30px;
                bottom: -80px;
                width: 2px;
                background-color: #0B3C5D;
            }

            // Remove vertical line after the last experience position
            &:last-of-type::after {
                display: none;
            }
        }
      }
    }
  }
