:root {
  // Global color variables
  --text-color: #eee;
  --primary: #0b3c5d;
  --secondary: #328cc1;
  --highlight: #d9b310;
  --background: #1d2731;

  // Global spacing variables
  --spacing-xs: 8px;
  --spacing-sm: 16px;
  --spacing-md: 32px;
  --spacing-lg: 64px;
  --spacing-xl: 128px;
}

// CSS Normalize
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Work Sans", sans-serif;

  a {
    text-decoration: none;
  }
}

body {
  background-color: var(--background);
  color: var(--text-color);
  text-align: center;
}

header {
  color: var(--background);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: var(--primary);

  .container {
    padding-top: var(--spacing-xs);
    padding-bottom: var(--spacing-xs);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .top {
      width: 40px;
      height: 40px;
      border: none;
      background-color: var(--secondary);
      border-radius: 4px;
      box-shadow: -4px 6px 0 var(--background), 0 6px 15px rgba(0, 0, 0, 0.2);
    }
    nav {
      display: flex;
      flex: auto;
      justify-content: space-between;
      align-items: center;

      ul {
        display: flex;
        gap: var(--spacing-md);
        list-style-type: none;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 300;

        li {
          display: inline-flex;
          justify-content: flex-end;
        }
      }

      // Make the checkbox and label disappear on larger screens
      input[type="checkbox"],
      label {
        display: none;
      }

      @media (max-width: 480px) {
        // If checkbox is not marked, the menu list is not displayed
        input[type="checkbox"]:not(:checked) + ul {
          display: none;
        }

        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 0;
        margin-right: 0;

        // Style menu icon, the checkbox stays hidden
        label {
          display: flex;
        }

        // Display as vertical list
        ul {
          display: block;

          // We have two lists: the first one are the always visible items in the menu bar. The second one is the one that will be hidden
          &:last-child {
            width: 100%;
            flex-basis: 100%;
          }

          li {
            margin-bottom: 0;
            width: 100%;
            text-align: right;
            padding: var(--spacing-xs);
            padding-right: 0;
          }
        }
      }
    }
  }
}

.landing {
  img {
    width: 200px;
    margin-bottom: var(--spacing-lg);
    border-radius: 50%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }

  h1 {
    font-weight: 300;
    margin: 0;
  }

  h3 {
    font-weight: 300;
    margin-bottom: var(--spacing-lg);
  }

  p {
    margin-bottom: var(--spacing-lg);
  }
}

.socials {
  //   background-color: var(--primary);
  //   border-radius: 4px;
  //   padding: var(--spacing-sm);
  //   box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);

  img {
    width: 40px;
    height: 40px;
  }
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding-left: var(--spacing-xl);
  padding-right: var(--spacing-xl);

  @media (max-width: 943px) {
    padding-left: var(--spacing-md);
    padding-right: var(--spacing-md);
  }
  @media (max-width: 480px) {
    padding-left: var(--spacing-sm);
    padding-right: var(--spacing-sm);
  }
  @media (max-width: 320px) {
    padding-left: var(--spacing-xs);
    padding-right: var(--spacing-xs);
  }
}

section {
  padding-top: var(--spacing-xl);
  padding-bottom: var(--spacing-xl);

  h2 {
    text-align: center;
    margin-bottom: var(--spacing-lg);
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 300;
  }

  h3 {
    font-weight: 500;
  }

  p {
    margin: 0;
    line-height: 2;
  }
}

.projects {
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--spacing-xl);
    margin-bottom: var(--spacing-lg);

    @media (max-width: 943px) {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: var(--spacing-lg);
      margin-bottom: var(--spacing-md);
    }
    @media (max-width: 480px) {
      grid-template-columns: minmax(200px, 1fr);
    }
    @media (max-width: 320px) {
      grid-template-columns: minmax(100px, 1fr);
    }

    .project {
      display: flex;
      background-color: var(--primary);
      border-radius: 4px;
      padding: var(--spacing-sm);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);

      @media (max-width: 480px) {
        padding-left: var(--spacing-xs);
        padding-right: var(--spacing-xs);
      }

      .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        h3 {
          margin-bottom: var(--spacing-md);
          text-transform: uppercase;
          font-weight: 400;
          font-size: 28px;
        }
        p {
          margin-bottom: var(--spacing-md);
        }
        h5 {
          font-weight: 400;
        }

        .tech-icons {
          display: flex;
          justify-content: center;
          padding: var(--spacing-md);
          padding-top: var(--spacing-xs);
          gap: var(--spacing-sm);
          img {
            width: 40px;
            height: 40px;
          }
          @media (max-width: 320px) {
            gap: var(--spacing-xs);
            img {
              width: 30px;
            }
          }
        }
        .project-buttons {
          display: flex;
          justify-content: center;
          align-items: stretch;
          flex-shrink: 1;
          flex-wrap: wrap;
          gap: var(--spacing-md);

          @media (max-width: 767px) {
            gap: var(--spacing-sm);
          }
          @media (max-width: 320px) {
            gap: var(--spacing-xs);
          }

          .button {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 1;
            min-width: 120px;
            height: 50px;
            background-color: var(--secondary);
            border-radius: 4px;
            padding: 6px;
            box-shadow: 0 4px 0 var(--background), 0 6px 15px rgba(0, 0, 0, 0.2);
          }
        }
      }
    }
  }
}

.experience {
  .experience-grid {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: var(--spacing-sm);

    @media (max-width: 1300px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      justify-items: center;
    }
    @media (max-width: 480px) {
      grid-template-columns: minmax(200px, 1fr);
    }
    @media (max-width: 320px) {
      grid-template-columns: minmax(100px, 1fr);
    }

    .experience-item {
      display: flex;
      flex-direction: column;
      position: relative;
      text-align: left;

      @media (max-width: 320px) {
        padding-left: var(--spacing-xs);
        padding-right: var(--spacing-xs);
      }

      .experience-company {
        display: flex;
        width: 300px;
        height: 100px;
        justify-content: center;
        align-items: center;
        margin-bottom: var(--spacing-lg);
        background-color: var(--primary);
        border-radius: 4px;
        padding: var(--spacing-md);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);

        @media (max-width: 320px) {
          max-width: 90vw;
          padding-left: 0;
          padding-right: 0;
        }

        img {
          width: 35px;
          height: 35px;
          margin-right: var(--spacing-xs);
        }
      }

      .experience-position {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 200px;
        position: relative;
        padding-bottom: var(--spacing-lg);

        .experience-title {
          font-weight: 300;
        }

        .experience-date {
          font-weight: 300;
          font-size: 14px;
          font-style: italic;
          opacity: 0.7;
        }

        // Bullet points
        &::before {
          content: "";
          position: absolute;
          margin-left: 10px;
          left: 0;
          top: 15px;
          height: 14px;
          width: 14px;
          border-radius: 50%;
          background-color: var(--primary);
        }

        // Vertical line
        &::after {
          content: "";
          position: absolute;
          margin-left: 10px;
          left: 6px;
          top: 34px;
          bottom: -10px;
          width: 2px;
          background-color: var(--primary);
        }

        // Stop vertical line after last position
        &:last-of-type::after {
          display: none;
        }
      }
    }
  }
}
