:root {
  // Global color variables
  --text-color: #eee;
  --primary: #0b3c5d;
  --secondary: #328cc1;
  --highlight: #d9b310;
  --background: #1d2731;

  // Global spacing variables
  --spacing-xs: 8px;
  --spacing-sm: 16px;
  --spacing-md: 32px;
  --spacing-lg: 64px;
  --spacing-xl: 128px;
}

// CSS Normalize
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Work Sans", sans-serif;

  a {
    text-decoration: none;
    color: #fff;
  }
}

*,
html {
  scroll-behavior: smooth !important;
}

body {
  background-color: var(--background);
  color: var(--text-color);
  text-align: center;
}

header {
  color: var(--background);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  // Transparent nav bar
  background-color: rgba(29, 39, 49, 0.7);

  .container {
    padding-top: var(--spacing-xs);
    padding-bottom: var(--spacing-xs);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .top {
      font-family: "Playfair Display", sans-serif;
      width: 40px;
      height: 40px;
      color: var(--text-color);
      font-weight: 500;
      border: none;
      background-color: var(--secondary);
      border-radius: 4px;
      box-shadow: -4px 6px 0 var(--background), 0 6px 15px rgba(0, 0, 0, 0.2);
      transition: transform 0.4s ease-out;
    }
    .top:active {
      box-shadow: none;
      transform: translate(-3px, 3px);
      transition: transform 0.1s;
    }
    nav {
      display: flex;
      flex: auto;
      justify-content: space-between;
      align-items: center;

      ul {
        display: flex;
        gap: var(--spacing-md);
        list-style-type: none;
        font-size: 24px;
        font-weight: 300;

        @media (max-width: 750px) {
          gap: var(--spacing-xs);
        }

        a {
          display: flex;
          flex-direction: row-reverse;
          align-items: center;

          img {
            opacity: 0.5;
          }
        }

        li {
          display: inline-flex;
          justify-content: flex-end;
        }

        span {
          display: flex;
          font-family: "Playfair Display", sans-serif;
          padding-left: 0.5rem;
          padding-right: 0.5rem;
        }
        span:active {
          color: var(--highlight);
        }
      }

      // Make the checkbox and label disappear on larger screens
      input[type="checkbox"],
      label {
        display: none;
      }

      @media (max-width: 576px) {
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 0;
        margin-right: 0;

        // If checkbox is not marked, the menu list is not displayed
        input[type="checkbox"]:not(:checked) + ul {
          display: none;
          opacity: 0;
          visibility: hidden;
        }

        // If checkbox is marked, menu list is displayed
        input[type="checkbox"]:checked + ul {
          display: block;
          opacity: 1;
          visibility: visible;
        }

        // Style menu icon, the checkbox stays hidden
        label {
          display: flex;
          cursor: pointer;
        }

        // Display as vertical list
        ul {
          display: block;

          &:last-child {
            width: 100%;
            flex-basis: 100%;
          }

          li {
            margin-bottom: 0;
            width: 100%;
            text-align: right;
            padding: var(--spacing-xs);
            padding-right: 0;
          }

          li a {
            padding-top: var(--spacing-sm);
            border-top: 1px solid var(--highlight);
          }
        }
      }
    }
  }
}

.landing {
  .profile-picture {
    margin-bottom: var(--spacing-lg);
  }
  img {
    width: 200px;
    border-radius: 50%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }

  h1 {
    font-family: "Playfair Display", sans-serif;
    // text-transform: uppercase;
    // font-size: 2rem;
    margin: 0;
  }

  h3 {
    color: var(--highlight);
    font-weight: 300;
    margin-bottom: var(--spacing-lg);
  }
  // Underline below project title
  h3:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 10%;
    padding-top: var(--spacing-xs);
    border-bottom: 2px solid var(--highlight);
  }

  p {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: var(--spacing-lg);
  }
}

.socials {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spacing-sm);
  margin: 0 auto;
  max-width: 400px;

  img {
    width: 40px;
    height: 40px;
    transition: all 1s ease-in;
  }
  img:hover {
    transform: scale(1.3);
    transition: transform 0.1s ease-in-out;
  }
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding-left: var(--spacing-xl);
  padding-right: var(--spacing-xl);

  @media (max-width: 943px) {
    padding-left: var(--spacing-md);
    padding-right: var(--spacing-md);
  }
  @media (max-width: 480px) {
    padding-left: var(--spacing-sm);
    padding-right: var(--spacing-sm);
  }
  @media (max-width: 320px) {
    padding-left: var(--spacing-xs);
    padding-right: var(--spacing-xs);
  }
}

section {
  padding-top: var(--spacing-xl);
  padding-bottom: var(--spacing-xl);

  h2 {
    font-family: "Playfair Display", sans-serif;
    text-align: center;
    margin-bottom: var(--spacing-lg);
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 300;
  }

  h3 {
    font-weight: 500;
  }

  p {
    margin: 0;
    line-height: 2;
  }
}

.projects {
  .projects-header {
    position: relative;
    display: inline-block;

    h2 {
      position: relative;
      z-index: 2;
    }

    .triangle-icon {
      width: 100px;
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      opacity: 0.5;
    }
  }

  .projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--spacing-xl);
    margin-bottom: var(--spacing-lg);

    @media (max-width: 943px) {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: var(--spacing-lg);
      margin-bottom: var(--spacing-md);
    }
    @media (max-width: 480px) {
      grid-template-columns: minmax(200px, 1fr);
    }
    @media (max-width: 320px) {
      grid-template-columns: minmax(100px, 1fr);
    }

    .project {
      display: flex;
      background-color: var(--primary);
      border-radius: 4px;
      padding: var(--spacing-sm);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
      transition: transform 2s ease, box-shadow 1s ease;

      @media (max-width: 480px) {
        padding-left: var(--spacing-xs);
        padding-right: var(--spacing-xs);
      }

      .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        h3 {
          font-family: "Playfair Display", sans-serif;
          margin-bottom: var(--spacing-md);
          text-transform: uppercase;
          font-weight: 400;
          font-size: 28px;
        }
        // Underline below project title
        h3:after {
          content: "";
          display: block;
          margin: 0 auto;
          width: 75%;
          padding-top: var(--spacing-xs);
          border-bottom: 2px solid var(--highlight);
        }
        p {
          margin-bottom: var(--spacing-md);
        }
        h5 {
          font-weight: 400;
        }

        .tech-icons {
          display: flex;
          justify-content: center;
          padding: var(--spacing-md);
          padding-top: var(--spacing-xs);
          gap: var(--spacing-sm);
          img {
            width: 40px;
            height: 40px;
          }
          img:hover {
            animation: shake 1s infinite cubic-bezier(0.36, 0.07, 0.19, 0.97)
              both;
            transform: translate3d(0, 0, 0);
            perspective: 1000px;
          }
          @keyframes shake {
            10%,
            90% {
              transform: translate3d(-1px, 0, 0);
            }
            20%,
            80% {
              transform: translate3d(1px, 1px, 0);
            }

            30%,
            50%,
            70% {
              transform: translate3d(-1px, 1px, 0);
            }
            40%,
            60% {
              transform: translate3d(1px, 0, 0);
            }
          }
        }
        @media (max-width: 320px) {
          gap: var(--spacing-xs);
          img {
            width: 30px;
          }
        }
        .project-buttons {
          display: flex;
          justify-content: center;
          align-items: stretch;
          flex-shrink: 1;
          flex-wrap: wrap;
          gap: var(--spacing-md);

          @media (max-width: 767px) {
            gap: var(--spacing-sm);
            width: 100%;
          }
          @media (max-width: 320px) {
            gap: var(--spacing-xs);
          }

          .button {
            font-family: "Playfair Display", sans-serif;
            font-weight: 600;
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 1;
            min-width: 120px;
            height: 50px;
            background-color: var(--secondary);
            border-radius: 4px;
            padding: 6px;
            box-shadow: -4px 6px 0 var(--background),
              0 6px 15px rgba(0, 0, 0, 0.2);
            transition: transform 0.4s ease-out;
            transition: opacity 0.4s ease-out;
          }
          .button:hover {
            opacity: 0.8;
            transition: opacity 0.3s ease-in-out;
          }
          .button:active {
            box-shadow: none;
            transform: translate(-3px, 3px);
            transition: transform 0.1s;
          }
        }
      }
    }
    .project:hover,
    .project:focus {
      box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.4);
      transform: translateY(-3px);
    }
  }
}

.experience {
  .experience-header {
    position: relative;
    display: inline-block;

    h2 {
      position: relative;
      z-index: 2;
    }

    .triangle-icon {
      width: 100px;
      position: absolute;
      top: -20%;
      left: 28%;
      transform: rotate(180deg);

      z-index: 1;
      opacity: 0.5;
    }
  }

  .experience-grid {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: var(--spacing-sm);

    @media (max-width: 1300px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      justify-items: center;
    }
    @media (max-width: 480px) {
      grid-template-columns: minmax(200px, 1fr);
    }
    @media (max-width: 320px) {
      grid-template-columns: minmax(100px, 1fr);
    }

    .experience-item {
      display: flex;
      flex-direction: column;
      position: relative;
      text-align: left;

      @media (max-width: 320px) {
        padding-left: var(--spacing-xs);
        padding-right: var(--spacing-xs);
      }

      .experience-company {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 100px;
        justify-content: center;
        align-items: center;
        margin-bottom: var(--spacing-lg);
        background-color: var(--primary);
        border-radius: 4px;
        padding: var(--spacing-md);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
        transition: transform 2s ease, box-shadow 1s ease;

        @media (max-width: 320px) {
          max-width: 90vw;
          padding-left: 0;
          padding-right: 0;
        }

        img {
          width: 35px;
          height: 35px;
          margin-bottom: var(--spacing-xs);
        }
      }
      .experience-company:hover,
      .experience-company:focus {
        box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.4);
        transform: translateY(-3px);
      }

      .experience-position {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 200px;
        position: relative;
        padding-bottom: var(--spacing-lg);

        .experience-title {
          font-weight: 300;
        }

        .experience-date {
          font-weight: 300;
          font-size: 14px;
          font-style: italic;
          opacity: 0.7;
        }

        // Bullet points
        &::before {
          content: "";
          position: absolute;
          margin-left: 10px;
          left: 0;
          top: 15px;
          height: 14px;
          width: 14px;
          border-radius: 50%;
          background-color: var(--primary);
        }

        // Vertical line
        &::after {
          content: "";
          position: absolute;
          margin-left: 10px;
          left: 6px;
          top: 34px;
          bottom: -10px;
          width: 2px;
          background-color: var(--primary);
        }

        // Stop vertical line after last position
        &:last-of-type::after {
          display: none;
        }
      }
    }
  }
}

.skills {
  .skills-header {
    position: relative;
    display: inline-block;
  }

  h2 {
    position: relative;
    z-index: 2;
  }

  .triangle-icon {
    width: 100px;
    position: absolute;
    top: -22%;
    left: 13%;
    transform: rotate(-90deg);

    z-index: 1;
    opacity: 0.5;
  }

  h3 {
    color: var(--highlight);
    font-weight: 300;
    margin-bottom: var(--spacing-sm);
  }
  // Underline below project title
  h3:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 10%;
    padding-top: var(--spacing-xs);
    border-bottom: 2px solid var(--highlight);
  }

  .skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--spacing-md);
    margin-bottom: var(--spacing-xl);

    @media (max-width: 320px) {
      gap: var(--spacing-xs);
    }

    .skill {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-weight: 500;
      width: 150px;
      min-width: 150px;
      height: 50px;

      background-color: var(--primary);
      border-radius: 4px;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
      transition: transform 2s ease, box-shadow 1s ease;

      @media (max-width: 320px) {
        max-width: 90vw;
        padding-left: 0;
        padding-right: 0;
      }

      .skill-title {
        display: flex;
        justify-content: center;
        margin-top: auto;
      }
    }
    .skill:hover,
    .skill:focus {
      box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.4);
      transform: translateY(-3px);
    }

    // Skills progress bar
    .progress-bar {
      display: flex;
      width: 100%;
      padding: var(--spacing-xs);
      border-bottom: 8px solid var(--highlight);
      border-radius: 0 0 4px 4px;
      opacity: 0.9;
    }
    .p10 {
      width: 10%;
    }
    .p20 {
      width: 20%;
    }
    .p30 {
      width: 30%;
    }
    .p40 {
      width: 40%;
    }
    .p50 {
      width: 50%;
    }
    .p60 {
      width: 60%;
    }
    .p70 {
      width: 70%;
    }
    .p80 {
      width: 80%;
    }
    .p90 {
      width: 90%;
    }
  }
}

.contact {
  .contact-header {
    position: relative;
    display: inline-block;

    h2 {
      position: relative;
      z-index: 2;
    }

    .triangle-icon {
      width: 100px;
      position: absolute;
      top: -25%;
      left: 25%;
      transform: rotate(90deg);

      z-index: 1;
      opacity: 0.5;
    }
  }

  h3 {
    margin-bottom: var(--spacing-lg);

    a {
      color: var(--highlight);
    }
  }
}
